<div class= "profil-container">
  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm ">
      <%= cl_image_tag @user.photo, height: 200, width: 300, crop: :fill %>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 hide-sm ">
      <p><strong>First name:</strong> <%=@user.first_name%></p>
      <p><strong>Last name:</strong> <%=@user.last_name%></p>
      <p><strong>Email:</strong> <%=@user.email%></p>
      <p><strong>Member since:</strong> <%= @user.created_at %></p>
      <%= link_to 'Update profile', edit_user_registration_path(@user) %>
    </div>
    <div class="col-lg-3 col-md-4 hide-sm">
      <h2><%= link_to "View bookings", bookings_path %></h2>
    </div>
     <div class="col-lg-3 col-md-4 hide-sm">
        <h2><%= link_to "Manage your homes", flats_user_index_path%></h2>
    </div>
    <div class="col-lg-3 col-md-4 hide-sm">
        <h2><%= link_to "Add a home", new_flat_path(@user) %></h2>
    </div>
  </div>
  </div>
</div>



