<div class="container-fluid">
  <h2>Your Homes </h2>
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-2">
      <%= link_to flat_path(flat) do %>
      <div class="card">
        <div class="body-card">
          <%= cl_image_tag flat.photo, height: 300, width: 399, crop: :fill %>
        </div>
        <div class="footer-card">
          <h1><%= flat.description %></h1>
          <p>$<%= flat.price %> / night</p>
          <p><%= link_to "View and Approve Bookings (#{flat.bookings.length})", owner_flat_bookings_path(current_user, flat) %></p>
            <% if flat.number_of_review == 0 %>
              <p>No reviews yet!</p>
            <% else %>
              <p>Average Rating : <%= flat.average_rating %></p>
              <p><%= flat.number_of_review %> Reviews</p>
            <% end %>
          <p><%= link_to "Edit flat", edit_flat_path(flat) %> | <%= link_to "Delete flat", flat_path(flat), method: :delete %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  </div>
