<div class="container-fluid">
  <div class="row">
    <% @flats.each do |flat| %>
    <div class="col-xs-12 col-sm-6 col-md-3 ">
      <%= link_to flat_path(flat) do %>
      <div class="card">
        <div class="body-card">
          <%# image_tag(flat.pictures.first, :alt => "flat picture") %>
        </div>
        <div class="footer-card">
          <h1><%= flat.description %></h1>
          <p><%= flat.price %></p>
          <ul>
            <li>average of the ratings : <%= flat.average_rating %></li>
            <li><%= flat.reviews.length.to_i %></li>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
