<div class="flex-container">
  <div class="gallery">
    <% @flat.pictures.each do |picture_object| %>
      <%= image_tag (picture_object.picture)%>
    <% end %>
  </div>
  <div class="information">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <h2><%= @flat.description %></h2><span>Hosted by  <%= image_tag(@flat.user.avatar) %><%= @flat.user.first_name %> <%= @flat.user.last_name %> </span>
    <p><%= @flat.address  %></p>
    <p><%= @flat.city %>, <%= @flat.country %></p>
    <p><%= @flat.category %></p>
    <h3>$<%= @flat.price %>/night</h3>
    <p><%= @flat.guest_capacity %> Guests</p>
  </div>
  <div class="review">
    <p>Average Rating: <%= @flat.average_rating %></p>
    <p>See all reviews... NEED ROUTE/CONTROLLER/VIEW FOR 'flats/:id/reviews'</p>
    <!-- need to link to 'flats/:id/reviews' page -->
  </div>
  <div class="book">
    <%= link_to "Book now!", new_flat_booking_path(@flat), class: "btn btn-success btn-lg" %>
  </div>
</div>
