<div class="flex-container">
  <%= render 'shared/map' %>
  <div class="gallery">
    <% @flat.pictures.each do |picture_object| %>
      <%= image_tag (picture_object.picture)%>
    <% end %>validates validates :content, length: { minimum: 20 }validates :content, length: { minimum: 20 }:content, length: { minimum: 20 }
  </div>
  <div class="information">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= cl_image_tag @flat.photo, height: 300, width: 400, crop: :fill %>
    <h2><%= @flat.description %></h2><span>Hosted by <%= @flat.user.first_name %> <%= @flat.user.last_name %> </span>
    <p><%= @flat.address  %></p>
    <p><%= @flat.city %>, <%= @flat.country %></p>
    <p><%= @flat.category %></p>
    <h3>$<%= @flat.price %>/night</h3>
    <p><%= @flat.guest_capacity %> Guests</p>
  </div>
  <div class="review">
    <p>Average Rating: <%= @flat.average_rating %></p>
    <p> <%= pluralize @restaurant.reviews.size, "review" %></p>
    <!-- need to link to 'flats/:id/reviews' page -->
    <div id="reviews-content">
      <% if @restaurant.reviews.blank? %>
        Be the first to leave a review for <%= @restaurant.name %>
      <% else %>
        <% @restaurant.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="calendar">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  </div>
  <div class="book">
    <% if @flat.user == current_user %>
      <p> Check messages for booking requests... </p>
    <% else %>
      <%= link_to "Book now!", new_flat_booking_path(@flat), class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
</div>
