<div class="flex-container">
  <% if @bookings.empty? %>
    <br>
    <p>No trips booked yet!</p>
    <br>
  <% else %>
    <% @bookings.each do |booking_object| %>
    <h3>
      <%= link_to flat_path(booking_object.flat) do %>
      <%= booking_object.flat.description %>
      <% end %>
    </h3>
    <p><%= booking_object.flat.address %>, <%= booking_object.flat.city %> </p>
    <p><%= booking_object.start_date %> to <span><%= booking_object.end_date %></span></p>
    <p><%= link_to "Cancel booking", booking_path(booking_object), method: :delete %></p>
      <% end %>
  <% end %>
<p><%= link_to "Return to profile", dashboard_path %></p>
</div>
